{:kotoba.app/id "cloud.itonami.isic-8030", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifausncy6kj5vyb2mtggxqoyrlt3usfagmr53wi757simgoi3xtsm", :kotoba.app/embed-url "ipfs://bafkreifausncy6kj5vyb2mtggxqoyrlt3usfagmr53wi757simgoi3xtsm", :published {:archive "https://kotobase.net/ipfs/bafkreifausncy6kj5vyb2mtggxqoyrlt3usfagmr53wi757simgoi3xtsm", :size 72510, :put-status 201, :get-status 200, :at "2026-08-15T13:51:44.217Z"}}
